{% extends 'base.html' %}
{% load crispy_forms_tags %}
 {% block title%}
  booking
 {% endblock %}
 {% load static %}
 {% block content%}

 <style>
  body {
    background-image:{% static '/images/gg.webp' %} ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  </style>
 <Body background={% static '/images/gg.webp' %}>
  <div class="container bg-danger">
 <h1 class="text-center" style="color:white"><b>Make An Appointment</b></h1>
  </div>
 <hr>
  </div>
 <div class="container w-50 text-center  my-8   bg-secondary">
  <form action="" method="POST">
    {% csrf_token %}
   {{form | crispy}}
    
<button class=" btn btn-danger " type="submit" align="center" style="color:white"> <b>SUMBIT APPOINTMENT</b></button>
</Body>
</div>
</div>
 </form> 
 <br>    
 {% endblock %} 