{% extends 'base.html' %}
 {% block title%}
  QUERY CONFIRMATIOM
 {% endblock %}
 {% load static %}
 {% block content%}
 <body background={% static '/images/blur.jpg' %}>
   <style>
       body {
           background-image:{% static '/images/blur.jpg' %} ;
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-size: 100% 100%;
         }
      </style>     
 <div class="container text-center bg-light">
 <h1 style="color:red"><b><i>Query Confirmation</b></u></h1>
 <div class="alert alert-info" role="alert">

   <b> we have Recieved your Query Request,Our representative will contact you, Thank you.</b>
 </div>
 </div>
</body>
 {% endblock %} 